.link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.link:hover {
  color: blue;
}

.link.active {
  font-weight: bold;
  border-bottom: 2px solid blue;
}